@model int

@{
    ViewBag.Title = "Order Complete";
}
<h2>Order Complete</h2>
<p>Thanks for your order! Your order number is: @Model</p>
<p>
    How about participating in more of our
    <a asp-controller="Catalog" asp-action="Index">Events !</a>
</p>
